{
  "presets": [
    ["env", { "debug": false, "modules": false }],
    "react"
  ],
  "plugins": [
    "external-helpers",
    "transform-class-properties",
    "babel-plugin-styled-components"
  ]
}
