{
  "presets": [
    ["env", { "debug": false, "modules": false }],
    "react"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": [
    "transform-class-properties",
    "babel-plugin-styled-components"
  ]
}
